.GMLogo {
  position: absolute;
  left: 300px;
  top:30px;
}

.Footprint {
  position: absolute;
  left: 600px;
  top: 200px;
}

/*Menu Bar Segments*/
.Home {
  position: absolute;
  left: 130px; 
  top: 230px;
}

.Merchandise {
  position: absolute;
  left: 300px;
  top: 230px;
}

.Personnel {
  position: absolute;
  left: 570px;
  top: 230px;
}

.ContactUs {
  position: absolute;
  left: 815px;
  top: 230px;
  
}

.merchTitle {
  position:absolute;
  left: 400px;
  top:20px;
}

/* Hoodie Sample */
#Joat { 
  font-family: Monospace;
  font-size: 15px;
  position: fixed;
  left: 60px;
  top: 150px;
  z-index: 9;
}

/* Hoodie Image*/
#Joat2 {
    display: none;
    position: absolute;
    left: 18px;
    top: 140px;

}

.middleBanner {
  color: red;
}
